<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <span class="text-center"><h2>Authors</h2></span>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 large-6 columns">
    <fieldset>
      <legend class="text-center">Chase Lee</legend>
      <div class="small-3 medium-3 large-3 columns">
        <a class="th 10">
          <img style="height:auto; width:auto; max-width:60px; max-height:60px;" src="https://avatars3.githubusercontent.com/u/1387910?s=460">
        </a>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        Chase Lee is a Computer Engineering student at the University of Illinois at Chicago.
      </div>
    </fieldset>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <fieldset>
      <legend class="text-center">Jeff Gensler</legend>
      <div class="small-3 medium-3 large-3 columns">
        <a class="th">
          <img style="height:auto; width:auto; max-width:60px; max-height:60px;" src="http://www.gravatar.com/avatar/569260d219df516f2a247046b2c05701.png">
        </a>
      </div>
      <div class="small-9 medium-9 large-9 columns">
        Jeff Gensler is a Computer Science student at the University of Illinois at Chicago.
      </div>
    </fieldset>
  </div>
</div>