<div class="row">
  <div class="small-12 medium-12 large-12 columns text-center">
    <span><h1>ACM Fridge Monitor</h1></span>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns text-center">
      <span><h4>Today:</h4></span><br>
      Open for {{totalTimeToday}} seconds<br><br>
      Opened {{timesOpenedToday}} times<br><br><br><br><br><br><br><br><br>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns text-center">
    <span class="label secondary radius"><small>Updated Hourly</small></span>
  </div>
</div>